div#dashboard div#dashboard-content div.dashboard-item-content,
div#dashboard div#dashboard-content div.dashboard-item-content *,
div#dashboard div#dashboard-content div.dashboard-item-header h3,
div#dashboard div#dashboard-content div.dashboard-item-header div.gadget-menu,
div#dashboard div#dashboard-content div.dashboard-item-header div.gadget-menu *,
div#dashboard div#dashboard-content div.aui-group.count-pagination,
div#dashboard div#dashboard-content div.aui-group.count-pagination *,
div#dashboard div#dashboard-content table * {
  background: var(--amc-darker) !important;
  color: #fff !important;
}

div.dashboard-shim {
  background: var(--amc-darkest);
  opacity: 0.75 !important;
  /** @TODO Blur? */
}
