div#content div#ghx-pool ul.ghx-columns * {
  background: #070707 !important;
}

div#content div#ghx-pool div.ghx-issue,
div#content div#ghx-pool div.ghx-issue * {
  background: #111 !important;
}

div#content div#ghx-pool ul#ghx-column-headers * {
  background: #070707 !important;
}
