div#content div#ghx-pool ul.ghx-columns * {
  background: var(--amc-darker) !important;
}

div#content div#ghx-pool div.ghx-issue,
div#content div#ghx-pool div.ghx-issue * {
  background: var(--amc-dark-grey) !important;
}

div#content div#ghx-pool ul#ghx-column-headers * {
  background: var(--amc-darker) !important;
}
