/**
 * Add custom logo
 */
#productLogoGlobalItem:before {
  content: "";
  background: url("https://avatars3.githubusercontent.com/u/20477572?s=200&v=4");
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  border-radius: 5px;
}

/**
 * Hide atlassian logo
 */
#productLogoGlobalItem div:first-child {
  display: none;
}
