div[data-testid="GlobalNavigation"] div,
div[data-testid="GlobalNavigation"] section,
div[data-testid="GlobalNavigation"] button,
div[data-testid="GlobalNavigation"] span:not([role="img"]),
div[data-testid="GlobalNavigation"] a {
  background: #000 !important;
  color: #fff !important;
}

/**
 * Help icon
 */
div[data-testid="GlobalNavigation"] span[aria-label="Help"] svg {
  color: #000 !important;
}

div[data-testid="ContextualNavigation"] div,
div[data-testid="ContextualNavigation"] section,
div[data-testid="ContextualNavigation"] button,
div[data-testid="ContextualNavigation"] a {
  background: #070707 !important;
  color: #fff !important;
}

/**
 * Back icon
 */
div[data-testid="ContextualNavigation"] button[data-testid="NavigationItem"] svg {
  color: #070707 !important;
}

/**
 * Forward icon on hover
 */
div[data-testid="ContextualNavigation"] a[data-testid="NavigationItem"] div:nth-child(3) span svg {
  color: #070707 !important;
}

/**
 * Sidemenu toggle button
 */
button.ak-navigation-resize-button {
  background: rgb(252, 90, 26) !important;
  color: #fff !important;
}

/**
 * Remove weird white stripe at the bottom
 */
div[data-testid="ContextualNavigation"] > div:first-child > div:first-child > div:nth-child(2) > div:first-child > div:first-child::after {
  background: #070707 !important;
}
