div.css-1rn63cm {
  background: var(--amc-darkest) !important;
  color: #fff;
}

div.css-7bonvz {
  background: var(--amc-darker) !important;
  color: #fff;
}

div.css-7bonvz div,
div.css-7bonvz a,
div.css-7bonvz p,
div.css-7bonvz span:not([role="img"]) {
  background: var(--amc-darker) !important;
  color: #fff;
}
